.contact{
    padding: 25px 0 0;
    position: relative;
    h2{
        color: #4C5865;
        font-family: "Open Sans";
        font-size: 34px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        margin-bottom: 26px;
    }
    .contact_map{
        position: relative;
        .map_wrapper{
            position: relative;
            z-index: 1;
            .map_overlay_effect {
                // display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(135deg, rgba(211, 211, 211, 0.6), rgba(128, 128, 128, 0.3));
                // background-position: -342px -275.149px;
                background-size: 159.583% 230.649%;
                background-repeat: no-repeat;
                pointer-events: none;
                z-index: 2;
              }
            .map{
                width: 100%;
                height: 399px;
                position: relative;
                z-index: 0;
            }
        }
        .container{
            position: absolute;
            z-index: 2;
            top: 29px;
            display: flex;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .contact_card{
        background: rgba(76, 88, 101, 0.89);
        backdrop-filter: blur(2.25px);
        padding: 15px 19px;
        position: absolute;
        z-index: 2;
        .logo{
            display: flex;
            justify-content: center;
            margin-bottom: 14px;
        }
        ul{
            display: flex;
            flex-direction: column;
            margin-bottom: 21px;
        }
        li{
            display: flex;
            align-items: center;
            gap: 10px;
            color: #FFF;
            font-family: "Open Sans";
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 235.609%; /* 28.273px */
        }
        .request_call{
            border-radius: 26px;
            background: #FF8743;
            width: 100%;
            padding: 8px 57px;
            color: #FFF;
            font-family: "Open Sans";
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            transition: all .3s ease;
            &:hover{
                background-color: #f86a19;
            }
        }
    }
}