.equipment{
    padding-top: 50px;
    h2{
        text-align: center;
        color: #4C5865;
        font-family: "Open Sans";
        font-size: 34px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 25px;
    }
    .equipment_filters{
        display: flex;
        gap: 30px;
        justify-content: center;
    }


    .custom-select-wrapper {
        position: relative;
        width: 280px;
        border-radius: 26px;
        // border: 1px solid rgba(76, 88, 101, 0.26);
        color: #4C5865;
        font-family: "Open Sans";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &.open{
            border-radius:  26px 26px 0 0;
            .custom-selected{
                border-radius:  26px 26px 0 0;
            }
        }
        // .search{
        //     display: none;
        // }
    }
    
    .custom-selected {
        padding: 12px;
        cursor: pointer;
        position: relative;
        background-color: #fff;
        border-radius:  26px;
        border: 1px solid rgba(76, 88, 101, 0.26);
    }
    
    .custom-selected .arrow {
        position: absolute;
        right: 10px;
        // top: 10px;
        top: 14px;
        transition: transform 0.3s ease;
    }
    
    .custom-select-dropdown {
        display: none;
        border: 1px solid #ccc;
        border-top: none;
        position: absolute;
        width: 100%;
        background: #fff;
        z-index: 999;
        max-height: 200px;
        overflow-y: auto;
        // box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        border-radius: 0 0 26px 26px;
    }
    
    .custom-select-wrapper.open .custom-select-dropdown {
        display: block;
    }
    
    .custom-select-dropdown .search {
        width: 100%;
        padding: 12px 15px;
        border: none;
        border-bottom: 1px solid #ccc;
        box-sizing: border-box;
        outline: none;
    }
    
    .custom-select-dropdown ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 12px 14px;
    }
    
    .custom-select-dropdown li {
        padding: 0;
        cursor: pointer;
    }
    
    .custom-select-dropdown li:hover {
        background-color: #f0f0f0;
    }
    &_cards{
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 23px;
    }
    &_card{
        background-image: url("../images/equipment_card_bg.png");
        background-size: cover;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        padding: 20px 42px;
        .card_left{
            margin: 0 auto 0 20px;
            h3{
                color: #4C5865;
                font-family: "Open Sans";
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            p{
                color: #4C5865;
                font-family: "Open Sans";
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: lowercase;  
                margin-bottom: 28px;
            }
            ul{
                display: grid;
                grid-template-columns: auto auto;
                gap: 13px 0;
            }
            li{
                display: flex;
                align-items: center;
                color: #4C5865;
                font-family: "Open Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
                .img_box{
                    width: 35px;
                }
            }
        }
        .card_right{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .old_cost{
            color: rgba(76, 88, 101, 0.61);
            leading-trim: both;
            text-edge: cap;
            font-family: "Open Sans";
            font-size: 19px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                height: 1px;
                background-color: rgba(76, 88, 101, 0.61);
            }
        }
        .new_cost{
            color: #FF8743;
            font-family: "Open Sans";
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: lowercase;
            text-wrap: nowrap;
            margin-bottom: 15px;
            .old_cost{
                display: none;
            }
            span{
                color: #4C5865;
                font-family: "Open Sans";
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: lowercase;
                margin-right: 32px;
            }
        }
        .credit_cost{
            color: #4C5865;
            font-family: "Open Sans";
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: lowercase;
            text-wrap: nowrap;
            margin-right: auto;
            margin-bottom: 12px;
            span{
                color: #4C5865;
                font-family: "Open Sans";
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: lowercase;
                margin-right: 6px;
            }
        }
        .card_btns{
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            .get{
                width: 100%;
                border-radius: 26px;
                background: #FF8743;
                padding: 12px 40px;
                text-wrap: nowrap;
                color: #FFF;
                font-family: "Open Sans";
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                transition: all .3s ease;
                text-align: center;
                cursor: pointer;
                &:hover{
                    background-color: #f86a19;
                }
            }
            .buy{
                width: 100%;
                border-radius: 26px;
                outline: 1px solid #FF8743;
                padding: 12px 40px;
                color: #FF8743;
                font-family: "Open Sans";
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                transition: all .3s ease;
                text-align: center;
                &:hover{
                    color: #fff;
                    background-color: #FF8743;
                }
            }
        }
    }
    &_more{
        padding: 25px 0;
        display: flex;
        justify-content: center;
        a{
            display: flex;
            align-items: center;
            gap: 8px;
            color: #4C5865;
            font-family: "Open Sans";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            transition: all .3s ease;
            &:hover{
                opacity: .7;
            }
        }
        img{
            transition: transform .3s ease;
            &.rotated{
                transform: rotate(180deg);
                transition: transform 0.3s ease;
            }
        }
    }
}