@media (max-width:1920px){
    .container{
        max-width: 1180px;
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width:1200px){
    .container{
        max-width: 960px;
    }

    // hero
    .hero{
        &_list{
            ul{
                gap: 40px;
            }
        }
    }

    // header
    .header{
        &_logo{
            gap: 15px;
        }
        &_menus{
            gap: 15px   ;
        }
    }

    // models
    .models{
        .tabs_block{
            width: 80%;
        }
        .model_card{
            width: 100%;
            padding: 15px 44px;
            .card_img{
                img{
                    width: 300px;
                }
            }
        }
    }

    // credit
    .credit{
        &_button{
            width: 100%;
            a{
                display: inline-block;
                width: 100%;
                padding: 16px;
            }
        }
    }

    // equipment
    .equipment{
        .card_img{
            img{
                width: 250px;
            }
        }
    }
}
@media (max-width:992px){
    .container{
        max-width: 720px;
    }
    .header_logo .map {
        display: none;
    }
    .header_menus_wrapper {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        pointer-events: none;
        z-index: 998;
      
        .header_menus_block {
          position: absolute;
          z-index: 1000;
          top: 0;
          right: 0;
          width: 100%;
          height: auto;
          padding: 0 0 20px;
          background: linear-gradient(270deg, #4C5865 -23.69%, #2E3A47 74.77%);
          transform: translateX(100%);
          opacity: 0;
          transition: all 0.3s ease;
          .header_logo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 27px 0;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 26.94%, #FFF 71.22%, rgba(255, 255, 255, 0.00) 100%);
            }
            .map{
                display: none;
            }
            .phone{
                display: flex;
                align-items: center;
                gap: 6px;
                color: #FFF;
                font-family: "Open Sans";
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 235.609%; /* 28.273px */
                text-transform: uppercase;
            }

          }
        }
      
        .header_backdrop {
          position: absolute;
          z-index: 999;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
          opacity: 0;
          transition: all 0.3s ease;
        }
      
        &.active {
          pointer-events: auto;
      
          .header_menus_block {
            transform: translateX(0);
            opacity: 1;
          }
      
          .header_backdrop {
            opacity: 1;
          }
        }
      }
      
      
    .header_block{
        justify-content: space-between;
    }
    .header{
        .hamburger_menu{
            display: block;
    
        }
    }
    .header_menus{
        flex-direction: column;
        align-items: flex-start;
        max-width: 720px;
        margin: 18px auto;
        a{
            &.active{
                color: #FF8743;
                font-weight: 700;
            }
            &:hover{
                opacity: 1;
            }
        }
        .last_li{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;
            margin-top: 25px;
            .phone_btn{
                border-radius: 37px;
                background: #FF8743;
                padding: 10px;
                width: 100%;
                text-align: center;
            }
        }
    }

    // hero
    .hero_list{
        ul{
            flex-wrap: wrap ;
        }
    }

    // models
    .models{
        .model_card{
            flex-wrap: wrap;
            gap: 30px;
        }
    }

    // credit
    .credit_list{
        display: none;
    }
    .credit{
        .credit_swiper{
            display: block;
        }
        .swiper{
            height: 674px;
        }
        .swiper-slide{
            height: calc(100% - 38px);
        }
        .credit_item{
            height: 100%;
            width: 100%;
        } 
        .credit-pagination{
            display: flex;
            justify-content: center;
            position: relative;
            z-index: 10;
            gap: 10px;

            .swiper-pagination-bullet{
                border-radius: 26px;
                width: 80px;
                height: 8px;
                background: #222021;
                opacity: .2;
            }
            .swiper-pagination-bullet-active{
                background: #FF8743;
                opacity: 1;
            }
        }
    }

    // equipment
    .equipment_card {
        flex-wrap: wrap;
        gap: 30px;
        .card_right{
            width: 100%;
            align-items: flex-start;
        }
    }
}
@media (max-width:768px){
    .container{
        max-width: 540px;
    }

    // hero
    .hero_title{
        h1{
            font-size: 32px;
        }
        h2{
            font-size: 28px;
        }
    }
    .hero_list {
        li{
            font-size: 20px;
        }
    }

    // header
    .header_menus{
        max-width: 540px;
    }


    // equipment
    .equipment_card .card_left{
        margin: 0;
    }
}
@media (max-width:576px){
    .select2-container{
        width: calc(50% - 8px) !important;
      }
      .select2-selection{
        border: none !important;
      }
      .select2-selection__rendered{
        position: relative;
        width: auto;
        border-radius: 26px;
        border: 1px solid rgba(76, 88, 101, 0.26);
        color: #4C5865;
        font-family: "Open Sans";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal !important;
        padding: 12px 14px !important;
      
      }
      .select2-container--open .select2-selection__rendered{
        border-radius:  26px 26px 0 0;
        color: #4C5865;
        font-family: "Open Sans";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .select2-container--open .select2-dropdown{
        top: 10px;
        border-radius: 0 0 26px 26px;
        border: 1px solid rgba(76, 88, 101, 0.26);
      }
      .select2-results__option{
        padding: 4px 7px;
        color: #4C5865;
        font-family: "Open Sans";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
      }
      .select2-results__options {
        display: flex;
        flex-direction: column;
        padding: 12px 0 20px;
      }

    .container{
        max-width: 100%;
        padding: 0 20px;
    }

    // custom modals
    .custom_modal_content{
        margin: 50px auto;
    }


    #offers_modal{
        h3{
            font-size: 21px;
        }
        p{
            font-size: 14px;
            line-height: normal;
            margin-bottom: 23px;
            br{
                display: none;
            }
        }
        .modal_rotate{
            width: 100%;
            height: 237px;
            top: unset;
            bottom: 0;
            left: 0;
            z-index: -1;
            background: linear-gradient(180deg, rgba(34, 31, 32, 0.00) 0.07%, rgba(34, 31, 32, 0.50) 34.65%, #221F20 100%), linear-gradient(180deg, rgba(56, 68, 81, 0.00) 2.33%, #2E3A47 40.39%);
        }
        .custom_modal_content {
            width: 320px;
            height: 360px;
            padding: 12px 20px;
            background-image: none;
            .modal_mobile_bg{
                display: block;
                position: absolute;
                width: 100%;
                // height: 337px;
                left: 0;
                top: 0;
                z-index: -2;
            }
        }
        .custom_modal_body {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
        }
        form {
            align-items: flex-start;
        }
        .credit_formInfo{
            max-width: 100%;
            flex-direction: row;
            margin-bottom: 10px;
            input{
                padding: 6px 15px;
                font-size: 11px;
                margin: 0;
                &::placeholder{
                    font-size: 11px;
                }
            }
        }.credit_button{
            width: 100%;
            max-width: 100%;
            a{
                padding: 8px;
                font-size: 12px;
                width: 100%;
                text-align: center;
            }
        }
    } 
    #credit_modal{
        h3{
            font-size: 21px;
            text-align: left;
        }
        p{
            font-size: 14px;
            line-height: normal;
            margin-bottom: 23px;
            br{
                display: none;
            }
        }
        .modal_rotate{
            width: 100%;
            height: 237px;
            top: unset;
            bottom: 0;
            left: 0;
            z-index: -1;
            background: linear-gradient(180deg, rgba(34, 31, 32, 0.00) 0.07%, rgba(34, 31, 32, 0.50) 34.65%, #221F20 100%), linear-gradient(180deg, rgba(56, 68, 81, 0.00) 2.33%, #2E3A47 40.39%);
        }
        .custom_modal_content {
            width: 320px;
            height: 360px;
            padding: 12px 20px;
            background-image: none;
            .modal_mobile_bg{
                display: block;
                position: absolute;
                width: 100%;
                // height: 337px;
                left: 0;
                top: 0;
                z-index: -2;
            }
        }
        .custom_modal_body {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
        }
        form{
            align-items: flex-start;
        } 
        .credit_formInfo{
            max-width: 100%;
            flex-direction: row;
            margin-bottom: 10px;
            input{
                padding: 6px 15px;
                font-size: 11px;
                margin: 0;
                &::placeholder{
                    font-size: 11px;
                }
            }
        }.credit_button{
            width: 100%;
            max-width: 100%;
            a{
                padding: 8px;
                font-size: 12px;
                width: 100%;
                text-align: center;
            }
        }
    } 


    // hero
    .hero{
        height: 480px;
        background: url(../images/hero_banner_mobile.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position-y: 109px;
        
    }
    .hero_block {
        margin-top: 20px;
        position: relative;
        z-index: 1;
    }
    .hero_title{
        margin-bottom: 24px;
    }
    .hero_title h1 {
        font-size: 23px;
        padding: 0;
        width: 100%;
        background: unset;
        text-align: center;
    }
    .hero_title h2{
        font-size: 18px;
        text-align: center;
        text-transform: lowercase;
    }
    .hero_list{
        padding: 0;
        background: unset;
    }
    .hero_list ul{
        gap: 22px 0 ;
        justify-content: space-between;
        display: grid;
        grid-template-columns: auto auto;
    }
    .hero_list li{
        font-size: 15px;
        line-height: 16px;
        &:nth-child(2){
            order: 3;
        }
        &:nth-child(3){
            order: 2;
        }
        &:nth-child(4){
            order: 4;
        }
        span{
            white-space: nowrap;
        }
    }
    .hero_button{
        &.desktop{
            display: none;
        }
        &.mobile{
            display: block;
        }
        a{
            font-size: 11px;
            padding: 7px 20px;
            text-align: center;
        }
    }
    .hero_list li img{
        width: 30px;
    }


    // header
    .header{
        background-color: #171A1B;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            height: 380px;
            background: linear-gradient(180deg, #161616 23.92%, rgba(22, 22, 22, 0.90) 38.23%, rgba(22, 22, 22, 0.70) 54.37%, rgba(22, 22, 22, 0.40) 74.13%, rgba(22, 22, 22, 0.00) 100%);
        }
    }
    .header_block{
        padding: 18px 0;
        position: relative;
        z-index: 2;
        &::after{
            content: '';
            z-index: 1;
            left: -20px;
            bottom: -1px;
            display: block;
            height: 0.5px;
            width: calc(100% + 40px); /* yoki 360px */
            background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        }
    }
    .header_logo .logo img{
        width: 125px;
    }
    .header_phone a{
        font-size: 12px;
    }
    .header_phone a img{
        width: 12px;
    }
    .header_menus {
        max-width: 100%;
        padding: 0 20px;
    }
    .header_menus a{
        font-size: 15px;
    }
    .header_menus_wrapper .header_menus_block .header_logo{
        padding: 17px 20px;
        .phone{
            img{
                width: 12px;
            }
        }
    }
    .header_menus_wrapper .header_menus_block .header_logo::after{
        content: '';
        left: -20px;
        display: block;
        height: 0.6px;
        width: calc(100% + 40px);
        background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }

    // models
    .models h2 {
        font-size: 26px;
    }
    .models .tabs_block {
        width: 90%;
        margin: 0 auto;
    }
    .models .tabs_block .tabs {
        margin: 0 auto;
        justify-content: center;
    }
    .models .tabs_block .tabs li{
        font-size: 12px;
        padding-left: 8px;
        padding-right: 8px;
    }
    .models .tabs_block .swiper-slide{
        font-size: 12px;
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .models .tabs_block .tab_next{
        right: -20px;
        img{
            width: 16px;
        }
    }
    .models .tabs_block .tab_prev{
        left: -20px;
        img{
            width: 16px;
        }
    }
    .models .model_card{
        padding: 11px;
        gap: 0;
        background-image: url("../images/model_card_mobile.png");
    }
    .models .model_card .card_left h3{
        font-size: 26px;
    }
    .models .model_card .card_left ul{
        margin-bottom: 8px;
    }
    .models .model_card .card_left li{
        font-size: 14px;
        gap: 12px;
        img{
            width: 16px;
        }
    }
    .models .model_card .card_brand{
        left: -27px;
        img{
            width: 243px;
        }
        span{
        font-size: 14px;
        left: 25px;
        top: 47%;
        }
    }
    .models .model_card .card_img {
        display: flex;
        justify-content: center;
        img{
            width: calc(100% - 60px);
            margin: 0 auto;
            
        }
    }
    .models .model_card .card_right{
        width: 100%;
    }
    .models .model_card .old_cos{
        font-size: 15px;
    }
    .models .model_card .new_cost {
        width: 100%;
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        span{
            font-size: 17px;
            margin-bottom: 4px;
        }
    }
    .models .model_card .credit_cost {
        margin: 0;
        width: 100%;
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        font-size: 17px;
        margin-bottom: 16px;
        span{
            font-size: 17px;
        }
    }
    .models .model_card .card_btns{
        .get{
            padding: 12px;
            font-size: 14px;
        }
        .buy{
            padding: 12px;
            font-size: 14px;
        }
    }


    // trade
    .trade{
        background-image: none;
        position: relative;
        z-index: 1;
        .trade_mobile_bg{
            width: 100%;
            display: block;
            position: absolute;
            top: 109px;
            z-index: -1;
        }
        &::before{
            content: '';
            position: absolute;
            height: 206px;
            width: 100%;
            background: linear-gradient(360deg, rgba(83, 98, 108, 0.00) 0%, #495862 45.34%);
            top: 0;
            left: 0;
            z-index: 0;
        }
        &::after{
            content: '';
            position: absolute;
            height: 298px;
            width: 100%;
            background: linear-gradient(180deg, rgba(76, 88, 101, 0.00) 0%, rgba(56, 68, 81, 0.50) 6.69%, rgba(56, 68, 81, 0.80) 14.2%, #384451 23.15%);
            bottom: 0;
            left: 0;
            z-index: 0;
        }
    }
    .trade_main{
        padding: 16px 0 21px;
        position: relative;
        z-index: 3;
    }
    .trade_title{
        margin-bottom: 11px;
        h2{
            font-size: 28px;
        }

    }
    .trade_text{
        margin-bottom: 240px;
        p{
            font-size: 18px;
            line-height: normal;
        }
    }
    .trade_list{
        margin-bottom: 23px;
    }
    .trade_list li{
        font-size: 15px;
        img{
            width: 16px;
        }
    }
    .trade_formInfo{
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 100%;
        margin-bottom: 8px;
        
    }
    .trade_formInfo input{
        font-size: 13px;
        padding: 12px 19px;
        margin: 0;
    }
    .trade_button a{
        width: 100%;
        font-size: 14px;
        padding: 12px;
        text-align: center;
    }
    .trade_checkbox {
        gap: 6px;
        label, a{
            font-size: 8px;
            br{
                display: none;
            }
        }
    }

    .credit{
        margin-top: 10px;
    }
    .credit .swiper {
        height: 690px;
    }
    .credit .credit_box {
        height: 690px;
        display: flex;
    }
    .credit .credit_item{
        width: 100%;
        padding: 20px;
    }
    .credit .card1{
        text-align: left;
        background: none;
        background-position: center;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
        .card_mobile_bg{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 454px;
            z-index: -2;
        }
        &::before{
            content: '';
            position: absolute;
            height: 320px;
            width: 100%;
            bottom: 0;
            left: 0;
            z-index: -1;
            background: linear-gradient(180deg, rgba(34, 31, 32, 0.00) 6.11%, rgba(34, 31, 32, 0.50) 29.42%, #221F20 100%), linear-gradient(180deg, rgba(56, 68, 81, 0.00) 11.67%, #2E3A47 22.82%);
        }
    }
    .credit_title h3 {
        font-size: 28px;
        margin-bottom: 11px;
    }
    .credit_text p{
        font-size: 19px;
        margin-bottom: 244px;
    }
    .credit .card1 ul{
        gap: 8px;
        margin-bottom: 23px;
    }
    .credit .card1 ul li{
        justify-content: start;
        flex-direction: row-reverse;
        font-size: 14px;
        margin: 0;
        img{
            width: 16px;
        }
    }
    .credit_formInfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 8px;
    }
    .credit_formInfo input{
        margin: 0;
        padding: 12px 19px;
        font-size: 13px;
    }
    .credit_button a{
        font-size: 14px;
        padding: 12px;
    }
    .credit_checkbox {
        label, a{
            font-size: 8px;
            br{
                display: none;
            }
        }
    }
    .credit .card2 {
        background: url(../images/credit-card2.png);
        background-position: right -20%;
        background: none;
        position: relative;
        z-index: 0;
        .card_mobile_bg{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 454px;
            z-index: -2;
        }
        &::before{
            content: '';
            position: absolute;
            height: 320px;
            width: 100%;
            bottom: 0;
            left: 0;
            z-index: -1;
            background: linear-gradient(180deg, rgba(34, 31, 32, 0.00) 6.11%, rgba(34, 31, 32, 0.50) 29.42%, #221F20 100%), linear-gradient(180deg, rgba(56, 68, 81, 0.00) 11.67%, #2E3A47 22.82%);
        }
        p{
            margin-bottom: 271px;
            max-width: 70%;
        }
        ul{
            gap: 11px;
            li{
                margin: 0;
                gap: 14px;
                font-size: 16px;
                img{
                    width: 20px;
                }
            }
        }
    }
    .credit .card2 .button a{
        font-size: 14px;
        padding: 12px;
    }

    section.trade, section.credit{
        display: none;
    }
    .accordion {
        display: block;
        }
    // equipment
    .equipment {
        padding-top: 20px;
        h2{
            font-size: 26px;
            margin-bottom: 20px;
        }
        .container{
            &:nth-child(2){
                padding: 0;
            }
        }
        .equipment_filters{
            gap: 8px;
        }
        .custom-select-wrapper{
            font-size: 13px;
        }
        
      

        &_card{
            padding: 24px 20px 19px;
            background-image: url("../images/equipment_card_bg1.png");
            gap: 0;
            .card_img{
                order: 2;
                img{
                    width: 100%;
                }
            }
            .card_left{
                order: 1;
                h3{
                    font-size: 26px;
                }
                p{
                    font-size: 15px;
                    margin-bottom: 24px;
                }
                ul{
                    gap: 10px 30px;
                }
                li{
                    font-size: 13px;
                    img{
                        max-width: 25px;
                    }
                }
            }
            .card_right{
                order: 3;
            }
            .old_cost{
                display: none;
            }
            .new_cost{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: end;
                font-size: 28px;
                span{
                    margin-bottom: 3px;
                    font-size: 17px;
                }
                .old_cost{
                    display: block;
                    margin-bottom: 3px;
                    font-size: 17px;
                }
            }
            .credit_cost{
                display: none;
            }
            .card_btns{
                gap: 8px;
                .get, .buy{
                    font-size: 14px;
                    padding: 12px;
                }
            }
           
        }
        &_more{
            padding: 10px 0;
            a{
                font-size: 15px;
            }
        }
    }

    // contact
    .contact {
        padding: 10px 0 0;
        h2{
            font-size: 26px;
            margin-bottom: 20px;
        }
        .contact_map{
            display: flex;
            flex-direction: column-reverse;
            .container {
                position: static;
                transform: unset;
                padding: 0 0 2px;
            }
            .map_wrapper{
                height: 229px;
                width: 100%;
                .map{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    z-index: 0;
                }
            }
            iframe{
                width: 100%;
                height: 229px;
            }
        }
        .contact_card{
            position: static;
            width: 100%;
            background: #4C5865;
            ul{
                margin-bottom: 18px;
            }
            .logo{
                justify-content: start;
            }
            .request_call{
                text-align: center;
            }
        }
    }

    // footer
    .footer_logo{
        order: 2;
        a{
            display: none;
        }
    }
    .footer_main{
        padding: 12px 0 0 ;
        display: flex;
        flex-direction: column;
        ul{
            order: 1;
            flex-direction: column;
            align-items: flex-start;
            gap: 9px;
            margin-bottom: 20px;
        }
    }
    .footer_desc{
        order: 3;
    }
    .footer_link{
        order: 4;
    }
    .footer_text{
        order: 5;
    }
}
